

    <div class="navigation-menu">
        <div class="sidebar-brand">

        <fa-icon [icon]="faHeartPulse" size="2x" class="fa-heartPulse"></fa-icon>
        <h1 class="brand"> SMARTHLIFE </h1>
        </div>

        <ul class="nav">
            <li>
                <a href="dashboard">
                    <fa-icon [icon]="faHome" size="lg" class="fa-heartPulse"></fa-icon>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a>
                    <fa-icon [icon]="faHome" size="lg" class="fa-heartPulse"></fa-icon>
                    <span>Patient</span>
                </a>
            </li>
            <li>
                <a>
                    <fa-icon [icon]="faHome" size="lg" class="fa-heartPulse"></fa-icon>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a>
                    <fa-icon [icon]="faHome" size="lg" class="fa-heartPulse"></fa-icon>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a>
                    <fa-icon [icon]="faHome" size="lg" class="fa-heartPulse"></fa-icon>
                    <span>Dashboard</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main-content"> 

        <header>
            <img id="user-icon" class="user-icon" [src]="doctors[0].profile_picture" >

            <h2>Welcome {{doctors[0].name}}</h2>
        </header>

        <h1> Dashboard </h1>

        <button (click)="bloodPressureUp()" class="btn"> High blood pressure </button>

        <button (click)="bloodPressureLow()" class="btn"> Normal blood pressure </button>

        <div class="card-wrapper">

            <app-card *ngFor="let item of users" [usersInput]="item"></app-card>
<!--
            <div class="card" id="card1" >
                <div class="card-image-wrapper">
                    <img class="card-image" [src]="users[0].profile_picture" alt="">
                </div>
                <h2>{{users[0].name}}</h2>
                <div class="card-info-wrapper" >
                    <div class="card-info ">
                        <div class="value oxygen">{{health[0].oxygen}}</div>
                        <div class="title">Oxygen</div>
                    </div>
                    <div class="card-info ">
                        <div class="value moisture">{{health[0].moisture}}</div>
                        <div class="title">Water</div>
                    </div>
                    <div class="card-info ">
                        <div class="value bpm">{{health[0].beats_per_minute}}</div>
                        <div class="title">BPM</div>
                    </div>
                    <div class="card-info ">
                        <div class="value blood_pressure">{{health[0].blood_pressure}}</div>
                        <div class="title">Blood pressure</div>
                    </div>

                    
                </div>


            </div>

            <div class="card">
                <div class="card-image-wrapper">
                    <img class="card-image" [src]="users[1].profile_picture"  alt="">
                </div>
                <h2>{{users[1].name}}</h2>
                <div class="card-info-wrapper" id="card2">
                    <div class="card-info">
                        <div class="value">{{health[1].oxygen}}</div>
                        <div class="title">Oxygen</div>
                    </div>
                    <div class="card-info">
                        <div class="value">{{health[1].moisture}}</div>
                        <div class="title">Water</div>
                    </div>
                    <div class="card-info">
                        <div class="value">{{health[1].beats_per_minute}}</div>
                        <div class="title">BPM</div>
                    </div>
                    <div class="card-info">
                        <div class="value">{{health[1].blood_pressure}}</div>
                        <div class="title">Blood pressure</div>
                    </div>
                    
                </div>
                


            </div>

            <div class="card">
                <div class="card-image-wrapper">
                    <img class="card-image" [src]="users[2].profile_picture"  alt="">
                </div>
                <h2>{{users[2].name}}</h2>
                <div class="card-info-wrapper" id="card3">
                    <div class="card-info">
                        <div class="value">{{health[2].oxygen}}</div>
                        <div class="title">Oxygen</div>
                    </div>
                    <div class="card-info">
                        <div class="value">{{health[2].moisture}}</div>
                        <div class="title">Water</div>
                    </div>
                    <div class="card-info">
                        <div class="value">{{health[2].beats_per_minute}}</div>
                        <div class="title">BPM</div>
                    </div>
                    <div class="card-info">
                        <div class="value">{{health[2].blood_pressure}}</div>
                        <div class="title">Blood pressure</div>
                    </div>
                    
                </div>


            </div>

            
            <div class="card">
                <div class="card-image-wrapper">
                    <img class="card-image" [src]="users[3].profile_picture"  alt="">
                </div>
                <h2>{{users[3].name}}</h2>
                <div class="card-info-wrapper" id="card4">
                    <div class="card-info">
                        <div class="value">{{health[3].oxygen}}</div>
                        <div class="title">Oxygen</div>
                    </div>
                    <div class="card-info">
                        <div class="value">{{health[3].moisture}}</div>
                        <div class="title">Water</div>
                    </div>
                    <div class="card-info">
                        <div class="value">{{health[3].beats_per_minute}}</div>
                        <div class="title">BPM</div>
                    </div>
                    <div class="card-info">
                        <div class="value">{{health[3].blood_pressure}}</div>
                        <div class="title">Blood pressure</div>
                    </div>
                    
                </div>
            </div>
-->
        </div>
    </div>

