

    <div class="navigation-menu">
        <div class="sidebar-brand">

        <fa-icon [icon]="faHeartPulse" size="3x" class="fa-heartPulse"></fa-icon>
        <h1 class="brand"> SMARTHLIFE </h1>
        </div>

        <ul class="nav">
            <li>
                <fa-icon [icon]="faHeartPulse" size="1x" class="fa-heartPulse"></fa-icon>
                <span>Dashboard</span>
            </li>
            <li>
                <fa-icon [icon]="faHeartPulse" size="1x" class="fa-heartPulse"></fa-icon>
                <span>Dashboard</span>
            </li>
            <li>
                <fa-icon [icon]="faHeartPulse" size="1x" class="fa-heartPulse"></fa-icon>
                <span>Dashboard</span>
            </li>
            <li>
                <fa-icon [icon]="faHeartPulse" size="1x" class="fa-heartPulse"></fa-icon>
                <span>Dashboard</span>
            </li>
            <li>
                <fa-icon [icon]="faHeartPulse" size="1x" class="fa-heartPulse"></fa-icon>
                <span>Dashboard</span>
            </li>
        </ul>
    </div>

    <div class="main-content"> 

        <h1> Dashboard </h1>
    </div>

