body{
    margin:0;
    padding:0;
}


.sidebar-brand{
    display:flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    padding-top: 50px;
    margin-left: 40px;
}

.sidebar-brand .fa-heartPulse{
    flex: 0.5;
    color:white;
    margin: auto;
}

.main-content{
    margin-left: 330px;
    height: 100%;
    width: 1015px;
    background-color:rgb(255, 255, 255);
}

.brand{
    flex: 2;
    color:white;
    font-family: 'Inter';
    font-size: 25px;
    margin:auto
}

.navigation-menu{
    position: fixed;
    height: 1024px;
    width:330px;
    background-color: rgb(161, 67, 67);
    left:0;
    top:0;
}

.nav{
    display: flex;
    text-align: center;
    margin-top: 100px;
    width: 250px; 

    flex-direction: column;
    color: white
}

.nav .fa-heartPulse{
    width: 20px;
}

.nav li {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.nav li span{
    flex: 0.5;
    font-size: 20px; 
}

