/*Azul 4346A1*/

body{
    margin:0;
    padding:0;
}


.sidebar-brand{
    display:flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    padding-top: 50px;
    margin-left: 40px;
}

.sidebar-brand .fa-heartPulse{
    flex: 0.8;
    color:white;
    margin: auto;
}

.main-content{
    margin-left: 330px;
    height: 1024px;
    width: 1110px;
    background-color:rgb(247, 245, 245);
}

.brand{
    flex: 2;
    color:white;
    font-family: 'Inter';
    font-size: 35px;
    margin:auto
}

.navigation-menu{
    position: fixed;
    height: 100%;
    width:330px;
    background-color: #4346A1;
    left:0;
    top:0;
}

.nav{
    display: flex;
    text-align: center;
    margin-top: 100px;
    width: 250px; 
    flex-direction: column;
    color: white;
    margin-left: 50px;
}

.nav .fa-heartPulse{
    width: 20px;
}

.nav li {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 221px;
}

.nav li:hover{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#4346A1;
    background-color:rgb(247, 245, 245);
    border-radius: 30px 0px 0px 30px;
}

.nav li span{
    font-size: 20px; 
    margin-left: 10px;
}

.user-icon{
    margin: 40px;
    margin-right: 100px;
    width: 62px;
    height: 62px;
    /*background-color: blue;*/
    border-radius: 50%;
    float: right;
}

header{
    height: 80px;
}


.chart-wrapper{
    width: 600px;
    height: 400px;
    margin: 50px;
    background-color: aliceblue;
    box-shadow: 0px 0.5px 5px 0.1px;    
}

.main-content h1{
    margin: 25px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

header h2{
    margin: 50px;
    float: right;
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1110px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;

}

.card{
    width: 271px;
    height: 391px;
    background-color: #4346A1;
    border-radius: 20px;
    margin: 40px;
}

.card-image-wrapper{
    display: flex;
    flex-direction: column;
    height: 120px;
    border-radius: inherit;
    justify-content: center;
}

.card h2{
    text-align: center;
    color: aliceblue;
    margin: 2px;
}

.card-image{
    display: block;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #4346A1;
    margin: auto;
}

.card-info-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:229px;
    border-radius: inherit;
}

.card-info{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 120px;
    height: 100px;
}

.card-info .value{
    flex: 2;

}

.card-info .title{
    flex: 0.5;
    text-align: center;
    color: aliceblue;
}

.card-info .value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: 36px;
    color: aliceblue;
}