
<div class="modal">
    <button mat-button>Close</button>

    <div class="chart-wrapper"> 
        <canvas baseChart 
        [title]="title"
        [type]="'line'"
        [data]="lineChartDataOxygen"
        [options]="lineChartOptions"
        [legend]="lineChartLegend" class="chart"> 
        </canvas>
        <canvas baseChart 
        [title]="title"
        [type]="'line'"
        [data]="lineChartDataBloodRate"
        [options]="lineChartOptions"
        [legend]="lineChartLegend" class="chart"> 
        ></canvas>
        <canvas baseChart 
        [title]="title"
        [type]="'line'"
        [data]="lineChartDataBloodPressure"
        [options]="lineChartOptionsBP"
        [legend]="lineChartLegend" class="chart"> 
        ></canvas>
        <canvas baseChart 
        [title]="title"
        [type]="'line'"
        [data]="lineChartDataBPM"
        [options]="lineChartOptionsBPM"
        [legend]="lineChartLegend" class="chart"> 
        ></canvas>
    </div>

</div>

